<!-- <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Page</a>
    <div class="collapse navbar-collapse"id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isadminuser" class="nav-link" routerLink="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
       
      </ul>
      <div *ngIf="ismenurequired"class="d-flex">
        <a routerLink="/login" class="btn btn-outline-success">Logout</a>
      </div>
    </div>
       
    
  </div>
</nav> -->

<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="collapse navbar-collapse"id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isadminuser" class="nav-link" routerLink="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
       
      </ul>
    </div>

  </nav>
  
  
  
  <span class="example-spacer"></span>
  <div>{{username}}</div> 
  <mat-icon *ngIf="ismenurequired">account_circle</mat-icon>
   &nbsp;
  <div *ngIf="ismenurequired"class="d-flex">
    <a routerLink="/login" class="btn btn-outline-danger">Logout</a>
  </div>
</mat-toolbar>


<router-outlet></router-outlet>
